<p>Hello, {{ name }}!</p>
<p>You have made a request.</p>
<p>Your request is now being processed. The detailed ordering information can be found in the attached PDF file.</p>
<p>We will take care of your inquiry as quickly as possible and send you an offer.</p>
<p>With kind regards,</p>
<p>Your BASI team</p>