<p>Hallo, {{ name }}!</p>
<p>Sie haben eine Anfrage gestellt.</p>
<p>Ihre Anfrage wird nun bearbeitet. Die detaillierten Bestellinformationen finden Sie in der beigefügten PDF-Datei.</p>
<p>Wir werden uns schnellstmöglich um Ihre Anfrage kümmern und Ihnen ein Angebot zukommen lassen.</p>
<p>Mit freundlichen Grüßen,</p>
<p>Ihr BASI Team</p>